[phases.setup]
nixPkgs = ["nodejs-18_x", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm --filter @baleno/api prisma:generate", "pnpm run build"]

[start]
cmd = "pnpm --filter @baleno/api start:prod"
